@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-all;
}

html {
    font-size: 62.5%;
}

body,html {
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    letter-spacing: .05em;
}

pre, code {
    font-family: Consolas, sans-serif;
}

img {
    vertical-align: top;
    max-width: 100%;
}

/* header */
header {
    background-color: #555;
    color: #fff;
    padding: 10px;
}

header h1 {
    text-align: center;
    font-size: 2.6rem;
}

/* footer */
footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
}

footer small {
    display: block;
    text-align: center;
}

p + p {
    margin-top: 5px;
}

/* hdg */
.hdg-lv2-01 {
    font-size: 2.4rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

/* note */
.note {
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    margin-bottom: 20px;
}

.note em {
    display: inline-block;
    font-style: normal;
    color: rgb(253, 46, 46);
}

/* code */
.code pre {
    max-height: 350px;
}
.code code {
    max-height: 350px;
    overflow-y: scroll;
}

/* section */

.str-section {
    padding: 0 10px;
}

.str-section + .str-section {
    margin-top: 20px;
}

@media screen and (min-width: 1001px) {
    .str-section {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
}

/* btn */

.btn-code-open {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #888;
    cursor: pointer;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 20px;
    transition: background .5s ease;
}

.btn-code-open.is-open {
    margin-top: -24px;
}

.btn-code-open:hover,
.btn-code-open:focus,
.btn-code-open:active {
    background: #888;
    color: #fff;
}